<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blockumber</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/blockly/blockly_compressed.js"></script>
    <script src="/js/blockly/blocks_compressed.js"></script>
    <script src="/js/blockly/javascript_compressed.js"></script>
    <table>
        <tr>
            <td width="50%">
                <div id="blocklyDiv" style="height: 720px; width: 800px;"></div>
            </td>
            <td>
                <div id="scenarioOutput" style="height: 720px; font-family: 'Courier New'; overflow-y:auto;"></div>
            </td>
        </tr>
    </table>
    <xml id="toolbox" style="display: none">
        <category name="Scenarios">
            <th:block th:each="scenariodef : ${scenariodefs}"><block th:attr="type=${scenariodef.message0}"/></th:block>
        </category>
        <category name="Given/When/Then">
            <th:block th:each="keyworddef : ${keyworddefs}"><block th:attr="type=${keyworddef.message0}"/></th:block>
        </category>
        <category name="Steps">
            <th:block th:each="stepdef : ${stepdefs}"><block th:attr="type=${stepdef.message0}"/></th:block>
        </category>
    </xml>
    <script th:inline="javascript">
        var stepdefs = /*[[${stepdefs}]]*/ [];
        var keyworddefs = /*[[${keyworddefs}]]*/ [];
        var scenariodefs = /*[[${scenariodefs}]]*/ [];
        /*<![CDATA[*/
        for (var i = 0; i < stepdefs.length; i++) {
            const stepdef = stepdefs[i];
            Blockly.Blocks[stepdef.message0] = {
                init: function () {
                    this.jsonInit(stepdef);
                }
            };
            Blockly.JavaScript[stepdef.message0] = function (block) {
                var text = stepdef.message0;
                for (var i = 1; i <= stepdef.args0.length; i++) {
                    text = text.replace('%' + i, block.getFieldValue('ARG' + i));
                }
                return [text, Blockly.JavaScript.ORDER_MEMBER];
            };
        }

        for (var i = 0; i < keyworddefs.length; i++) {
            const keyworddef = keyworddefs[i];
            Blockly.Blocks[keyworddef.message0] = {
                init: function () {
                    this.jsonInit(keyworddef);
                }
            };
            Blockly.JavaScript[keyworddef.message0] = function (block) {
                var text = keyworddef.message0;
                text = text.replace('%1', Blockly.JavaScript.valueToCode(block, 'BODY', Blockly.JavaScript.ORDER_NONE) || '');
                return text + '\n';
            };
        }

        for (var i = 0; i < scenariodefs.length; i++) {
            const scenariodef = scenariodefs[i];
            Blockly.Blocks[scenariodef.message0] = {
                init: function () {
                    this.jsonInit(scenariodef);
                }
            };
            Blockly.JavaScript[scenariodef.message0] = function (block) {
                var text = scenariodef.message0.replace('%1', block.getFieldValue('NAME'));
                text += '\n';
                text += Blockly.JavaScript.statementToCode(block, 'BODY', Blockly.JavaScript.ORDER_NONE) || '';
                text += '\n';
                return text;
            };
        }

        var workspace = Blockly.inject('blocklyDiv',
                {toolbox: document.getElementById('toolbox')});

        function showCode() {
            // Generate JavaScript code and display it.
            Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            alert(code);
        }
        function runScenario() {
            // Generate JavaScript code and display it.
            Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
            var code = Blockly.JavaScript.workspaceToCode(workspace);

            document.getElementById('scenarioOutput').innerHTML = "Starting scenario...";
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "blockumber/run", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText) {
                        document.getElementById('scenarioOutput').innerHTML = this.responseText;
                    }
                }
            };
            xhr.send(code);
        }
        function save() {
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            var link = document.createElement("a");
            link.download = "test.feature";
            link.href = "data:text/plain,"+encodeURIComponent(code);
            link.click();
        }
        function load() {
            var input = $(document.createElement('input'));
            input.attr("type", "file");
            input.on('change', function () {
                var file = input[0].files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "blockumber/xml/fromFeature", true);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                if (xhr.responseText) {
                                    Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(this.responseText), Blockly.getMainWorkspace());
                                }
                            }
                        };
                        xhr.send(evt.target.result);
                    };
                    reader.onerror = function (evt) {
                        alert('error loading file')
                    }
                } else {
                    alert('error locating file');
                }
            });
            input.trigger('click');
        }
        /*]]>*/
    </script>
    <p>
        <button onClick="showCode();">Show</button>
        <button onClick="runScenario();">Run</button>
        <button onClick="save();">Save</button>
        <button onClick="load();">Load</button>
    </p>
</body>
</html>
