<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>HELLO</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/blockly/blockly_compressed.js"></script>
    <script src="/js/blockly/blocks_compressed.js"></script>
    <script src="/js/blockly/msg/js/en.js"></script>

    <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
    <xml id="toolbox" style="display: none">
        <block type="controls_if"></block>
        <block type="controls_repeat_ext"></block>
        <block type="logic_compare"></block>
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="text"></block>
        <block type="text_print"></block>
    </xml>
    <script>
      var workspace = Blockly.inject('blocklyDiv',
          {toolbox: document.getElementById('toolbox')});
    </script>

    <h4>Here Be Report!</h4>
    <p th:text="#{report}"></p>
</body>
</html>